body{
    padding: 70px;
    background: rgb(211,214,208);
    background: linear-gradient(90deg, rgba(211,214,208,1) 0%, rgba(225,227,223,1) 55%, rgba(183,190,182,1) 100%);
}
.container{
     display: flex;
    justify-content: center;
    align-items: center;
}
.card-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input{
    min-height: 150px;
}